<!DOCTYPE html>

<html>

<head>
<meta charset="utf-8">
<title>Mi primer sitio web</title>
<link rel="stylesheet" href="/css/style.css"> </link>
</head>

<body>


<p id="parrafo">Hola gente </p>
<a class="ancore1" href="https://www.google.com">Referencia</a>
<a class="ancore1" href="https://www.google.com">Referencia222</a>




<form action="" method="POST">

<label for="nombre"> Nombre </label>
<input type="text" name="usuario" placeholder="nombre" id="nombre"/>
<br>
<input type="password" placeholder="clave" name="clave" />
<br>
<input type="tel" placeholder="telefono" name="telefono" id="jo" />
<br>
<input type="email" placeholder="e-mail" name="email" required/>
<br>
<input type="number" placeholder="edad" name="edad" />
<br>

<input type="date" min="2021-01-01" max="2021-05-01" name="fecha" />
<br>

<input type="file" name="archivo" accept=".jpg" />
<br>

<label> Debito </label>
<input type="radio" name="pago" value="Debito" >
<label> Credito </label>
<input type="radio" name="pago" value="Credito" checked/>
<label> Otro </label>
<input type="radio" name="pago" value="Otro" />

<br>

<label> Servicio 1 </label>
<input type="checkbox" name="combo" id="check1" value="Primero" />
<label> Servicio 2 </label>
<input type="checkbox" name="combo" id="check2" value="Segundo" />


<br>
<textarea name="comentario"> </textarea>
<br>


<label> cantidad </label>

<select>
<option>Uno</option>
<option selected>Dos</option>
</select>


<br>
<button id="boton1" type="reset"> Reiniciar </button>
<button type="submit"> Enviar </button>

</form>

</body>

</html>